<div class="navbar-btn btn-group btn-group-justified">
    <a class="btn btn-default btn-filter filter-off-btn" ng-model="mainCtrl.filterCategory" uib-btn-radio=false>
        <span class="fa-stack fa-lg">   
          <i class="fa fa-filter fa-stack-1x"></i>
          <i class="fa fa-ban text-danger fa-flip-horizontal fa-stack-2x"></i>
        </span>
    </a>
    <a class="btn btn-default btn-filter" ng-model="mainCtrl.filterCategory" uib-btn-radio="'Work'">
        <i class="fa fa-briefcase" title="Work"></i>
    </a>
    <a class="btn btn-default btn-filter" ng-model="mainCtrl.filterCategory" uib-btn-radio="'Personal'">
        <i class="fa fa-street-view" title="Personal"></i>
    </a>
    <a class="btn btn-default btn-filter" ng-model="mainCtrl.filterCategory" uib-btn-radio="'Delegated'">
        <i class="fa fa-users" title="Delegated"></i>
    </a>
    <a class="btn btn-default btn-filter" ng-model="mainCtrl.filterCategory" uib-btn-radio="'Other'">
        <i class="fa fa-asterisk" title="Other"></i>
    </a>
</div>
