.strike {
    text-decoration: line-through;
}

.todo {
    margin: 10px 0;
}

.todo-span {
    width: 100% !important;
}

.done-button {
    border-bottom-left-radius: 0;
}

.input-group .form-control {
    border-bottom-left-radius: 1;
}
