html {
    height: 100%;
}

body {
    margin-top: 60px;
    background-color: #e9ebee;
    height: 100%;
}

.fullheight {
    height: 100%;
}

#outside-navbar {
    min-height: 100%;
    margin-bottom: 60px;
}

.hide_dd {
    visibility: hidden;
}

.hidebar {
    display: none;
}

.strike {
    text-decoration: line-through;
}

.todo-category {
    background-color: #fff;
    border-color: #ccc;
    width: 91px;
}

.blue label:not(.btn-priority),
.blue input:not(.btn-priority) {
    border-color: blue;
}

.green label:not(.btn-priority),
.green input:not(.btn-priority) {
    border-color: green;
}

.orange label:not(.btn-priority),
.orange input:not(.btn-priority) {
    border-color: orange;
}

.red label:not(.btn-priority),
.red input:not(.btn-priority) {
    border-color: red;
}

.todo-label {
    height: auto;
}

.problem-box {
    height: 100%;
    box-sizing: content-box;
}

.todo-item {
    border-bottom-right-radius: 0;
}

.cat-button,
.priority {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}

.toggle-active-btn,
.filter-off-btn {
    padding: 2px 12px;
    font-size: 75%;
}

.fa-ban {
    opacity: 0.6;
}

.nopadding_topbottom {
    padding-top: 0;
    padding-bottom: 0;
}

.one li .one:after,
.two li .two:after,
.three li .three:after,
.four li .four:after,
.five li .five:after {
    content: "\00ab";
}

li .one {
    color: red !important;
}

li .two {
    color: orange !important;
}

li .four {
    color: green !important;
}

li .five {
    color: blue !important;
}

.todo-animate.ng-animate {
    -webkit-transition: 550ms cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    -moz-transition: 550ms cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    -ms-transition: 550ms cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    -o-transition: 550ms cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    transition: 550ms cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    position: relative;
    display: block;
}

.todo-animate.ng-enter.ng-enter-active,
.todo-animate.ng-move.ng-move-active,
.todo-animate.ng-leave {
    top: 0;
    height: 34px;
    opacity: 1;
}

.todo-animate.ng-leave.ng-leave-active,
.todo-animate.ng-enter,
.todo-animate.ng-move {
    top: -54px;
    height: 0px;
    opacity: 0;
}

.todo-animate.ng-enter-stagger,
.todo-animate.ng-leave-stagger {
    transition-delay: 0.001s;
    transition-duration: 0s;
}

.todo-animate.ng-enter-prepare {
    opacity: 0;
}

.breakword {
    word-break: break-word;
}


/*above mobile size*/

@media only screen and (min-width: 768px) {
    .done-button {
        width: 50px;
    }
    .todo-form {
        margin: 10px 0;
    }
    .navbar-brand {
        margin-left: -30px !important;
    }
    .btn-remove-all {
        margin-right: -15px;
    }
    .nopadding_leftright {
        padding-left: 0;
        padding-right: 0;
    }
}

.fa-pencil-square-o {
    font-size: 120%;
    vertical-align: middle;
}

.navbar-collapse:focus {
    outline: none;
}


/*tablet and tiny size*/

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .filter-off-btn {
        padding: 2px 6px;
        font-size: 75%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sort-btn {
        font-size: 85%;
        padding: 8px 12px;
    }
}


/*mobile size*/

@media only screen and (max-width: 767px) {
    .navbar-form {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .login {
        display: block!important;
    }
    .navbar .category-menu {
        position: relative;
    }
    .todo-animate.ng-enter.ng-enter-active,
    .todo-animate.ng-move.ng-move-active,
    .todo-animate.ng-leave {
        top: 0;
        height: 68px;
        opacity: 1;
    }
    .done-button {
        width: 25px;
    }
    .priority {
        width: 158px;
    }
    .problem-box {
        border-bottom-left-radius: 0;
    }
    .mob-delete {
        border-top-right-radius: 0;
    }
    .todo-category {
        border-top-left-radius: 0;
    }
    .btn-logout {
        float: right;
        margin-right: 20px;
    }
}


/*tiny size*/

@media only screen and (max-width: 299px) {
    .filter-off-btn {
        padding: 2px 6px;
        font-size: 75%;
    }
}

@media only screen and (max-width: 399px) {
    .toggle-active-btn {
        padding: 2px 6px;
        font-size: 75%;
    }
}


/*solve sticky hover*/

@media (hover:none),
(hover:on-demand) {
    .btn-danger:hover:not(.btn-priority),
    .btn-danger:focus:not(.btn-priority) {
        background-color: #d9534f;
    }
    .btn-primary:hove:not(.btn-priority),
    .btn-primary:focus:not(.btn-priority) {
        background-color: #337ab7;
    }
    .btn-success:hover:not(.btn-priority),
    .btn-success:focus:not(.btn-priority) {
        background-color: #5cb85c;
    }
    .btn-default:hover:not(.btn-priority, .btn-filter),
    .btn-default:focus:not(.btn-priority, .btn-filter) {
        background-color: #ffffff;
    }
}
