.strike {
    text-decoration: line-through;
}

.todo-form {
    margin: 10px 0;
}

.priority-button,
.remove-all-btn {
    width: 45px;
}

.toggle-button {
    width: 122px;
}

@media only screen and (min-width: 768px) {
    .priority-button,
    .toggle-button,
    .remove-all-btn {
        width: 137px;
    }
    .done-button {
        width: 50px;
    }
}

.add-item {
    padding-bottom: 10px;
}

.todo-category {
    background-color: #fff;
    border-color: #ccc;
    width: 91px;
}

.blue label,
.blue input {
    border: 1px solid blue;
}

.green label,
.green input {
    border: 1px solid green;
}

.orange label,
.orange input {
    border: 1px solid orange;
}

.red label,
.red input {
    border: 1px solid red;
}

body {
    margin-top: 15px;
}

.mobile-todo-label {
    height: auto;
}

.problem-box {
    height: 100%;
    box-sizing: content-box;
    border-bottom-left-radius: 0;
}

.mob-category {
    border-top-left-radius: 0;
}

.mob-delete {
    border-top-right-radius: 0;
}

.todo-item {
    border-bottom-right-radius: 0;
}

.cat-button,
.priority {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.priority-mob {
    width: 158px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}
