.strike {
    text-decoration: line-through;
}

.todo-form {
    margin: 10px 0;
}


/*above mobile size*/

@media only screen and (min-width: 768px) {
    .priority-button,
    .toggle-button,
    .remove-all-btn {
        width: 137px;
    }
    .done-button {
        width: 50px;
    }
}


/*mobile size*/

@media only screen and (max-width: 768px) {
    .navbar-form {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .login {
        display: block!important;
    }
    .navbar-form .groupnav {
        width: 100%;
    }
    .navbar-form .btnnav {
        width: 33.33333%;
    }
    .btnnavfilter {
        width: 100%;
    }
    .navbar .dropdown-menu {
        position: relative;
    }
}

.add-item {
    padding-bottom: 10px;
}

.todo-category {
    background-color: #fff;
    border-color: #ccc;
    width: 91px;
}

.blue label,
.blue input {
    border-color: blue;
}

.green label,
.green input {
    border-color: green;
}

.orange label,
.orange input {
    border-color: orange;
}

.red label,
.red input {
    border-color: red;
}

.main-input {
    border-right-width: 2px
}

body {
    margin-top: 15px;
}

.todo-label {
    height: auto;
}

.problem-box {
    height: 100%;
    box-sizing: content-box;
}

.mob-problem-box {
    border-bottom-left-radius: 0;
}

.mob-category {
    border-top-left-radius: 0;
}

.mob-delete {
    border-top-right-radius: 0;
}

.todo-item {
    border-bottom-right-radius: 0;
}

.cat-button,
.priority {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.priority-mob {
    width: 158px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}


/*solve sticky hover*/

@media (hover:none),
(hover:on-demand) {
    .btn:hover:not(.remove-all-btn) {
        background-color: transparent;
    }
}

.one li .one:after {
    content: "\00ab";
    /*color: red;*/
}

.two li .two:after {
    content: "\00ab";
}

.three li .three:after {
    content: "\00ab";
}

.four li .four:after {
    content: "\00ab";
}

.five li .five:after {
    content: "\00ab";
}

li .one {
    color: red !important;
}

li .two {
    color: orange !important;
}

li .four {
    color: green !important;
}

li .five {
    color: blue !important;
}


/*.list.ng-enter,
.list.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.list.ng-leave.ng-leave-active,
.list.ng-enter {
    opacity: 0;
    height: 0px;
}

.list.ng-enter.ng-enter-active,
.list.ng-leave {
    opacity: 1;
    height: 34px;
}*/

.list.ng-enter,
.list.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    transition: 400ms cubic-bezier(0.390, 0.575, 0.565, 1.000) all;
    position: relative;
    display: block;
}

.list.ng-enter.ng-enter-active,
.list.ng-leave {
    opacity: 1;
    height: 34px;
}

.list.ng-leave.ng-leave-active,
.list.ng-enter {
    opacity: 0;
    height: 0px;
}
