<div class="col-lg-6">
    <form class="form" ng-submit="listCtrl.add()">
        <div class="input-group add-item" ng-class="listCtrl.getBackgroundColour(null);">
            <div class="input-group-btn">
                <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{listCtrl.categoryText}}<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-left" ng-click="listCtrl.setCategory($event);">
                    <li><a>Work</a></li>
                    <li><a>Personal</a></li>
                    <li><a>Other</a></li>
                    <li><a>Delegated</a></li>
                </ul>
            </div>
            <input type="text" class="form-control main-input" ng-model="listCtrl.todo.task" placeholder="Add Item" autofocus/>
            <div class="input-group-btn">
                <a type="button" class="btn btn-default dropdown-toggle priority" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Priority<span class="caret"></span></a>
                <ul class="dropdown-menu" ng-click="listCtrl.setPriority($event,null);" ng-switch="listCtrl.todo.priority" ng-class="listCtrl.getPriority()">
                    <li><a class="one">1 </a></li>
                    <li><a class="two">2 </a></li>
                    <li><a class="three">3 </a></li>
                    <li><a class="four">4 </a></li>
                    <li><a class="five">5 </a></li>
                </ul>
                <a type="button" class="btn btn-default" ng-click="listCtrl.add()">Add</a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-6  hidden-xs">
    <div class="btn-group" role="group">
        <div class="btn-group">
            <a type="button" class="btn btn-default toggle-button" ng-click="mainCtrl.toggleFilter()">{{mainCtrl.toggleBtnText}}</a>
            <a ng-if="mainCtrl.sortByPriority" type="button" class="btn btn-default priority-button visible-xs" ng-click="mainCtrl.toggleSort()" ng-bind-html="mainCtrl.calender"></a>
            <a ng-if="!mainCtrl.sortByPriority" type="button" class="btn btn-default priority-button visible-xs" ng-click="mainCtrl.toggleSort()" ng-bind-html="mainCtrl.thermometer"></a>
            <a type="button" class="btn btn-default priority-button hidden-xs" ng-click="mainCtrl.toggleSort()">{{mainCtrl.sortByPriority? "Sort by Date" : "Sort by Priority"}}</a>
            <div class="btn-group">
                <a type="button" class="btn btn-default dropdown-toggle cat-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Category<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-left" ng-click="mainCtrl.setFilterCategory($event);">
                    <li><a>Show All</a></li>
                    <li><a>Work</a></li>
                    <li><a>Personal</a></li>
                    <li><a>Other</a></li>
                    <li><a>Delegated</a></li>
                </ul>
            </div>
        </div>
        <a type="button" class="btn btn-danger remove-all-btn" ng-click="mainCtrl.removeCompleted()"><i class="fa fa-trash-o fa-lg"></i><span class="hidden-xs"> Completed</span></a>
    </div>
</div>
